* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}:root {
  --primary: #1677D2;
  --secondary: #0B3A66;
  --accent: #FFC83D;
  --background: #FFF2C7;
  --surface: #F3F8FC;
}

:root.dark {
  --primary: #4DA3FF;
  --secondary: #102A45;
  --accent: #FFD166;
  --background: #081A2E;
  --surface: #EDF6FF;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2,h3,h4,h5 ,h6 {
    text-wrap: inherit;
}
ul,ol {
    list-style: none;
}
body {
    overflow-y: hidden;
}
#container {
    min-width: 100vw;
    min-height: 100vh;
    padding: 75px;
    background-color: var(--primary);
}
#dashboard {
    width: 100%;
    border-radius: 25px;
    height: 100vh;
    background-color: var(--background);
}